
header, .select-hdu
  position fixed
  color $white
  font-size 16px
  
header
  width 96%
  background-color $black
  z-index 1
  height 20px
  padding 10px 2%
  font-size 16px
  opacity 0.8
  
  .small
    font-size 11px
    padding-left 10px
  
  a
    color $white
    text-decoration none
    
    &:visited
      color $white
    
    &:hover
      color $blue

.select-hdu
  z-index 2
  right 0
  overflow hidden
  cursor pointer
  overflow hidden
  width 80px
  text-align right
  
  padding 10px 2% 10px 0
  transition all 200 linear
  
  &:hover
    color $blue
    
    > ul
      height auto
  
  // &:active
  //   > ul
  //     height 0
  
  ul
    height 0
    font-size 11px
    list-style-type decimal-leading-zero
    background-color $black
    opacity 0.8
    width 80px
    text-align left
    max-height 300px
    overflow scroll
    transition all 200 linear
    
    li
      line-height 20px
      font-family "Times New Roman", Georgia, Serif
      font-size 12px
      color $white
      font-variant small-caps
      padding 10px 0
      
      &:hover
        color $blue