.frame
  width 100%
  height 100%
  position absolute
  background-color $gray1
  
  .center
    left 50%
    top 50%
    width 200px
    height 20px
    margin -10px 0 0 -100px
    position absolute
    color $blue
    text-align center
    font-size 18px
    font-weight 200
  
.over
  background-color $gray2
  
#loading
  display none

#help
  position fixed
  right 20px
  bottom 10px
  font-weight 700
  font-size 20px
  color $black
  width 28px
  height 28px
  border-radius 14px
  border 1px solid $black
  text-align center
  
  &:hover
    color $red
    cursor pointer

.help
  a
    color $blue
    
    &:hover
      color $blue

  a.bold
    font-weight 700