button.hdu
  font-size 9px
  font-weight 700
  padding 4px 8px
  margin 0px
  color $gray1
button.primary
  background-color $gray4
button.table
  background-color $gray4
button.bintable
  background-color $gray4
button.image
  background-color $gray4

section
  margin 0 auto
  height 90%
  border 1px solid $blue
  margin 40px 40px
  overflow visible
  
  article.dataunit
    width 100%
    height 100%