table.header
  width 200px
  font-size 11px
  float left
  
  .key
    text-align right
  .value
    text-align left
  .even
    background-color #FAFAFA
  .odd
    background-color #F7F7F7
  
  tbody
    height 320px
    width 200px
    overflow auto
    display block

    tr
      height 16px