.dataunit-item
  float left

.chart rect
  stroke white
  fill $red
  opacity 1
  
  .selected
    fill $blue
  
.brush .extent
  fill $blue
  stroke #fff
  fill-opacity 0.125
  shape-rendering crispEdges

.fits-viewer
  border 1px solid $red