$red = #CD3E20
$blue = #0172E6
$gray3 = #505050

.fits-viewer
  float left

.scale
  float left

.histogram
  float left

.stretch
  float left

.chart rect
  stroke white
  fill $red
  opacity 1

.brush .extent
  fill $blue
  stroke #fff
  fill-opacity .125
  shape-rendering crispEdges

.fits-viewer
  border 1px solid $red