#info
  position fixed
  display none
  width 120px
  height 30px
  z-index 2000
  font-size 11px

canvas
  padding 0
  margin 0

.dataunit
  float left
  width 1000px
  
.histogram
  float left
  
.brush .extent
  fill $blue
  stroke #fff
  fill-opacity 0.125
  shape-rendering crispEdges

.fits-viewer
  float left
  border 1px solid $red
  width 600px
  height 600px
  cursor crosshair
  
  canvas
    position relative

progress
  .read-image
    width 200px
    height 20px

.spinner
  display none
  position absolute
  top 316px
  left 500px