$blue = #0172E6
$red = #CD3E20
$gray1 = #F3F3F3
$gray2 = #E5E5E5
$gray3 = #CFCFCF
$gray4 = #505050
$black = #131313

@import 'css/jquery-ui-1.8.22.custom.css'
@import './mixin'
@import './drop'
@import './header'
@import './fonts'
@import './image'
@import './table'
@import './d3'

body
  margin 0 auto
  background-color $gray1
  color $gray3
  font-family 'Open Sans', sans-serif

.tab
  font-size 12px
  overflow scroll

.hdu
  overflow auto

.dataunit
  float left

.plot
  float left

.column-names
  font-weight 700

div.axes
  float left