$black  = #151515
$white  = #FAFAFA

$blue   = #0172E6
$blue2  = #1E90FF
$blue3  = #00BFFF
$darkblue = #00264C
$red    = #CD3E20
$gray1  = #F3F3F3
$gray2  = #E5E5E5
$gray3  = #CFCFCF
$gray4  = #505050

@import './mixin'
@import './brand'
@import './modal'
@import './drop'
@import './header'
@import './image'
@import './table'
@import './plots'


.hide
  display none


html, body
  margin 0 auto
  background $white
  font-size 12px
  font-family 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  
#luminosity
  margin 0 2%
  padding-top 40px
  
#overflow
  width 100%
  overflow-x hidden
  
#dataunits
  width 400%
  height 94%
  position relative
  
  article
    position absolute
    padding 20px 0
    left -110%
    margin 0
    width 25%
    opacity 0
    transition all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
    
    -webkit-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    -moz-transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    transition-timing-function cubic-bezier(0.770, 0.000, 0.175, 1.000)
    
    div.container
      width 100%
      min-width 1000px
    
  article.current
    left 0
    opacity 1
  
  article.current ~ article
    left 110%