$gray-modal = #BBB

.modal
  border 1px solid $black
  width 50%
  height 50%
  overflow scroll
  display none
  position absolute
  top 25%
  left 25%
  padding 20px
  border solid 1px $gray-modal
  background #FFF
  box-shadow 0px 3px 6px rgba(0, 0, 0, 0.25)
  color $black
  font-size 12px