$gray-modal = #BBB

.modal
  border 1px solid $black
  width 50%
  height 50%
  overflow scroll
  display none
  position absolute
  top 25%
  left 25%
  padding 20px
  background #FFF
  box-shadow 0 3px 6px rgba(0, 0, 0, 0.25)
  font-size 12px

.requirements
  opacity 0
  height 30%
  transition opacity 4s

.tutorial
  padding 10px
  height 200px
  width 25%
  top 36%
  left 37%

  p
    padding 2px
  p:last
    padding 0
    margin 0
    
.arrow
  padding 6px
  font-size 18px
  font-weight 700
  float right
  &:hover
    color $red
    cursor pointer