
article.bintable, article.table
  font-size 11px
  
  .controls
    padding-bottom 16px
    
    input[type='radio']
      display none

      &:checked + label
        background $gray3
        border-color $gray3 !important

    input[data-plot='one']:checked ~ .one
      display block

    input[data-plot='two']:checked ~ .two
      display block

    input[data-plot='three']:checked ~ .three
      display block

    label
      padding 2px 8px
      background $gray1
      color $black
      border-radius 4px
      border solid 1px $gray2
      text-shadow 0 -1px 0 rgba(0, 0, 0, 0.4)
      box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2)

      &:hover, &:focus
        background $gray2
        text-decoration none
        cursor pointer
        -webkit-transition-duration 0.2s
        -moz-transition-duration 0.2s
        transition-duration 0.2s
        
  .table-container
    overflow scroll
    height 100%

    table.fits-table
      width 100%
      height 100%
      text-align left
      border-spacing 0
      border-collapse collapse
  
      thead
        display table-header-group
    
        th
          padding: 6px 12px
          color: $gray1
          text-shadow: 1px 1px 1px $blue2
          background-color: $blue
          text-align center
          cursor pointer
    
        th:not(:last-child)
          border-right 1px solid $gray1
    
        tr
          td
            padding-right 10px
  
      tbody
        display table-row-group
        overflow auto

        tr
          display table-row
    
          &:hover
            background $gray2
    
          td
            padding 2px 4px
            border-top 1px solid @blue
            text-align center
  