table.fits-table
  font-size 11px
  
  tbody
    height 320px
    overflow-y scroll
    display block

table.tablesorter
  background-color $gray1
  margin 10px 0 15px
  text-align left
  
  thead tr th tfoot tr th
    background-color $gray1
    border 1px solid #FFF
    padding 4px
  
  thead tr .header
    color $red
    background-image url(css/images/bg.gif)
    background-repeat no-repeat
    background-position center right
    cursor pointer
  
  tbody td
    color $gray4
    padding 4px
    background-color $gray2
    vertical-align top
  
  tbody tr.odd td
    background-color #F7F7F7
  
  thead tr .headerSortUp
    background-image url(css/images/asc.gif)
  
  thead tr .headerSortDown
    background-image url(css/images/desc.gif)
  
  thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
    background-color $gray2