.bar {
  fill: #0071e5;
  stroke: #FFF;
}

.bar:hover, .dot:hover {
  fill: brown;
}

.dot {
  fill: #0071e5;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .1px;
}