
.header-dataunit {
  border: 1px solid #303030;
  margin: 10px 0;
  padding: 0 10px;
}

.header-dataunit p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #D3D3D3;
  padding: 10px;
}

.dataunit {
  background-color: #A8A8A8;
  padding: 10px;
}