a.header {
  padding: 10px;
}

div.header {
  height: 400px;
  overflow: scroll;
}

table.header {
  font-family: Courier;
  font-size: 13px;
}

.jumbotron {
  padding-top: 60px;
  padding-bottom: 10px;
}

td.header-key {
  width: 200px;
}

.header-icon {
  cursor: pointer;
}

.chart-selected {
  border: 1px solid #0071e5;
}