@import 'css/jquery-ui-1.8.22.custom.css';
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f3f3f3;
}
.frame .center {
  left: 50%;
  top: 50%;
  width: 200px;
  height: 20px;
  margin: -10px 0 0 -100px;
  position: absolute;
  color: #0172e6;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}
.over {
  background-color: #e5e5e5;
}
#loading {
  display: none;
}
table.header {
  width: 200px;
  font-size: 11px;
  float: left;
}
table.header .key {
  text-align: right;
}
table.header .value {
  text-align: left;
}
table.header .even {
  background-color: #fafafa;
}
table.header .odd {
  background-color: #f7f7f7;
}
table.header tbody {
  height: 320px;
  width: 200px;
  overflow: auto;
  display: block;
}
table.header tbody tr {
  height: 16px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("fonts/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url("fonts/gk5FxslNkTTHtojXrkp-xM6Eyu0BCqAfob_z3hhzRFzr7w4p9aSvGirXi6XmeXNA.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url("fonts/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff") format('woff');
}
canvas {
  padding: 0;
  margin: 0;
}
.dataunit-item {
  float: left;
}
.chart rect {
  stroke: #fff;
  fill: #cd3e20;
  opacity: 1;
}
.chart rect .selected {
  fill: #0172e6;
}
.brush .extent {
  fill: #0172e6;
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}
.fits-viewer {
  border: 1px solid #cd3e20;
}
table.fits-table {
  font-size: 11px;
}
table.fits-table tbody {
  height: 320px;
  overflow-y: scroll;
  display: block;
}
table.tablesorter {
  background-color: #f3f3f3;
  margin: 10px 0 15px;
  text-align: left;
}
table.tablesorter thead tr th tfoot tr th {
  background-color: #f3f3f3;
  border: 1px solid #fff;
  padding: 4px;
}
table.tablesorter thead tr .header {
  color: #cd3e20;
  background-image: url("css/images/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #505050;
  padding: 4px;
  background-color: #e5e5e5;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color: #f7f7f7;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url("css/images/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
  background-image: url("css/images/desc.gif");
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter table.tablesorter thead tr .headerSortUp {
  background-color: #e5e5e5;
}
.axis path {
  fill: none;
  stroke: #505050;
  stroke-width: 2px;
}
text {
  font-size: 11px;
}
body {
  margin: 0 auto;
  background-color: #f3f3f3;
  color: #cfcfcf;
  font-family: 'Open Sans', sans-serif;
}
.tab {
  font-size: 12px;
  overflow: scroll;
}
.hdu {
  overflow: auto;
}
.dataunit {
  float: left;
}
.plot {
  float: left;
}
.column-names {
  font-weight: 700;
}
div.axes {
  float: left;
}