@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic,700|Open+Sans+Condensed:700,300");
.modal {
  border: 1px solid #505050;
  width: 50%;
  height: 50%;
  overflow: scroll;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 20px;
  border: solid 1px #bbb;
  background: #fff;
  -moz-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
  color: #505050;
  font-size: 12px;
}
.requirements {
  opacity: 0;
  height: 30%;
}
.tutorial {
  padding: 10px;
  height: 200px;
  width: 25%;
  top: 36%;
  left: 37%;
}
.tutorial p {
  padding: 2px;
}
.tutorial p:last {
  padding: 0px;
  margin: 0px;
}
.arrow {
  padding: 6px;
  font-size: 18px;
  font-weight: 700;
  float: right;
}
.arrow:hover {
  color: #cd3e20;
  cursor: pointer;
}
.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f3f3f3;
}
.frame .center {
  left: 50%;
  top: 50%;
  width: 200px;
  height: 20px;
  margin: -10px 0 0 -100px;
  position: absolute;
  color: #0172e6;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}
.over {
  background-color: #e5e5e5;
}
#loading {
  display: none;
}
.help-button {
  position: fixed;
  bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #505050;
  width: 28px;
  height: 28px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 1px solid #505050;
  text-align: center;
}
.help-button:hover {
  color: #cd3e20;
  cursor: pointer;
}
#tutorial {
  right: 60px;
}
#help {
  right: 20px;
}
.help a {
  color: #0172e6;
}
.help a:hover {
  color: #0172e6;
}
.help a.bold {
  font-weight: 700;
}
button.hdu {
  font-size: 9px;
  font-weight: 700;
  padding: 4px 8px;
  margin: 0px;
  color: #f3f3f3;
}
button.primary {
  background-color: #505050;
}
button.table {
  background-color: #505050;
}
button.bintable {
  background-color: #505050;
}
button.image {
  background-color: #505050;
}
section {
  margin: 0 auto;
  height: 90%;
  border: 1px solid #0172e6;
  margin: 40px 40px;
  overflow: visible;
}
section article.dataunit {
  width: 100%;
  height: 100%;
}
#header {
  width: 25%;
  height: 50%;
  overflow: scroll;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 20px;
  border: solid 1px #bbb;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}
#header table.header {
  font-size: 11px;
  color: #505050;
  width: 300px;
  border: 0;
  overflow: scroll;
}
#header table.header tbody {
  overflow: auto;
  display: block;
  width: 100%;
}
#header table.header tbody tr {
  background-color: #fafafa;
  width: 100%;
  height: 16px;
}
#header table.header tbody tr:hover {
  background: #f3f3f3;
}
#header table.header tbody tr td:first-child {
  width: 100px;
  font-weight: 700;
  text-align: right;
  padding-right: 4px;
}
#header table.header tbody tr td:last-child {
  width: 200px;
  text-align: left;
  padding-left: 4px;
}
#header table.header tbody tr:nth-child(2n+1) {
  background-color: #f7f7f7;
}
#info {
  position: fixed;
  display: none;
  width: 120px;
  height: 30px;
  z-index: 2000;
  font-size: 11px;
  color: #505050;
}
.info {
  color: #505050;
}
canvas {
  padding: 0;
  margin: 0;
}
.dataunit {
  float: left;
  width: 1000px;
}
.histogram {
  float: left;
}
.chart rect {
  stroke: #fff;
  fill: #cd3e20;
  opacity: 1;
}
.chart rect .selected {
  fill: #0172e6;
}
.brush .extent {
  fill: #0172e6;
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}
.fits-viewer {
  float: left;
  border: 1px solid #cd3e20;
  width: 600px;
  height: 600px;
  cursor: crosshair;
}
.fits-viewer canvas {
  position: relative;
}
progress .read-image {
  width: 200px;
  height: 20px;
}
.spinner {
  display: none;
  position: absolute;
  top: 316px;
  left: 500px;
}
div.controls {
  font-size: 11px;
  color: #505050;
}
.table-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
table.fits-table {
  font-size: 11px;
  width: 100%;
  height: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px;
}
table.fits-table thead {
  display: table-header-group;
  color: #505050;
}
table.fits-table thead th {
  padding: 10px 12px;
  color: #f3f3f3;
  text-shadow: 1px 1px 1px #1e90ff;
  background-color: #0172e6;
  text-align: center;
}
table.fits-table thead th:not(:last-child) {
  border-right: 1px solid #f3f3f3;
}
table.fits-table thead tr td {
  padding-right: 10px;
}
table.fits-table tbody {
  display: table-row-group;
  overflow: auto;
}
table.fits-table tbody tr {
  display: table-row;
}
table.fits-table tbody tr:hover {
  background: #e5e5e5;
}
table.fits-table tbody tr td {
  color: #505050;
  padding: 2px 4px;
  border-top: 1px solid ;
  text-align: center;
}
.plot {
  border: 1px solid #505050;
  width: 50%;
  height: 50%;
  overflow: scroll;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 20px;
  border: solid 1px #bbb;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}
.plot .heading {
  border-bottom: 1px solid #505050;
  width: 100%;
  height: 30px;
  overflow: auto;
}
.plot .heading h3 {
  font-size: 16px;
  color: #505050;
  float: left;
  margin: 0px;
}
.plot .heading select {
  float: right;
  vertical-align: text-bottom;
}
.plot .heading button {
  float: right;
}
.plot .graph {
  clear: both;
  width: 100%;
  height: 80%;
}
.plot .graph text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
.plot .graph text.label {
  fill: #0172e6;
}
circle.selected {
  fill: #cd3e20;
}
rect.selected {
  fill: #cd3e20;
}
.axis path,
.axis line {
  fill: none;
  stroke: #505050;
  stroke-width: 2px;
}
html,
body {
  margin: 0 auto;
  background-color: #f3f3f3;
  color: #cfcfcf;
  font-family: 'Open Sans', sans-serif;
}
#luminosity {
  height: 100%;
  overflow: auto;
}
#luminosity #hdus {
  width: 100%;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#luminosity #toolbar {
  width: 100%;
  height: 16px;
  background-color: #cfcfcf;
  color: #e5e5e5;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
input {
  color: #505050;
}
.plot {
  float: left;
}
.column-names {
  font-weight: 700;
}
div.axes {
  float: left;
}
