<rawimage>
  <div class="row">
    <div class="col-md-6 viewer"></div>
    <div class="col-md-6 control">
      <div class="row">
        <select class="col-md-6" ng-model="stretch" ng-change="onStretch()" ng-options="fn as fn for fn in stretches"></select>
        <select class="col-md-6" ng-model="colormap" ng-change="onColorMap()" ng-options="cmap for cmap in colormaps"></select>
      </div>
      <div class="row">
        <input class="col-md-12" type="range" ng-model="minimum" name="minimum" min="0" max="1000">
        <input class="col-md-12" type="range" ng-model="maximum" name="maximum" min="0" max="1000">
      </div>
    </div>
  </div>
</rawimage>