
<div class="row">
  <div class="nav navbar-nav">
    <select class="axis" ng-model="axis1" ng-change="onAxis()" ng-options="column as column for column in columns" ng-disabled="selectedChart==undefined || ndimensions < 1"></select>
    <select class="axis" ng-model="axis2" ng-change="onAxis()" ng-options="column as column for column in columns" ng-disabled="selectedChart==undefined || ndimensions < 2"></select>
    <select class="axis" ng-model="axis3" ng-change="onAxis()" ng-options="column as column for column in columns" ng-disabled="selectedChart==undefined || ndimensions < 3"></select>
  </div>
  <div class="nav navbar-nav navbar-right">
    <button type="button" class="btn btn-danger btn-xs" ng-click="onChartRemove()" ng-disabled="isRemoveDisabled">
      <span class="glyphicon glyphicon-remove-circle"></span> Remove
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="onChart('histogram')" ng-disabled="isDisabled">
      <span class="glyphicon glyphicon-stats"></span> Histogram
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="onChart('scatter2d')" ng-disabled="isDisabled">
      <span class="glyphicon glyphicon-stats"></span> Scatter 2D
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="onChart('scatter3d')" ng-disabled="isDisabled">
      <span class="glyphicon glyphicon-stats"></span> Scatter 3D
    </button>
  </div>
</div>

<div class="row" ng-repeat="row in getRows() track by $index">
  <div ng-repeat="chart in getChartsPerRow($index) track by $index" ng-click="onChartSpace($parent.$index * nChartsPerRow + $index)" class="well col-md-{{12 / getChartsPerRow($parent.$index).length}}" ng-class="{'chart-selected': selectedChart==($parent.$index * nChartsPerRow + $index)}">
    <histogram ng-if="chart=='histogram'" data-index="{{$parent.$parent.$index * nChartsPerRow + $parent.$index}}"></histogram>
    <scatter2d ng-if="chart=='scatter2d'" data-index="{{$parent.$parent.$index * nChartsPerRow + $parent.$index}}"></scatter2d>
    <scatter3d ng-if="chart=='scatter3d'" data-index="{{$parent.$parent.$index * nChartsPerRow + $parent.$index}}"></scatter3d>
  </div>
</div>