<workspace>
  <div ng-repeat="dataunit in getHeaders() track by $index">
    <div class='header-dataunit'>
      <p ng-click="onHeader($index)">Header</p>
      <p ng-click="onDataUnit($index)">{{dataunit}}</p>
    </div>
  </div>
  
  <div class="header" ng-show="isHeaderSelected">
    <p>Header</p>
    <p ng-click="onCloseHeader()">close</p>
    <table class="table">
      <tr ng-repeat="(key, value) in cards">
        <td>{{key}}</td>
        <td>{{value.value}}</td>
      </tr>
    </table>
  </div>
  
  <div class="bintable" ng-show="isBintableSelected">
    <p ng-click="onCloseBinTable()">close</p>
    
    <select ng-options="column for column in columns" ng-model="xAxis" ng-change="onAxis()"></select>
    <select ng-options="column for column in columns" ng-model="yAxis" ng-change="onAxis()"></select>
    <select ng-options="column for column in columns" ng-model="zAxis" ng-change="onAxis()"></select>
    
    <div id="chart"></div>
  </div>
  
</workspace>